<section class="section">
  <div class="container">
    <div class="columns is-centered">

    <% if member_signed_in? %>

      <%= render 'profile' %>
      <%= render 'form_index' %>

<% else %>

      <%= render 'info' %>
      <%= render 'form_index' %>
<% end %>
    </div>
  </div>
</section>
